* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5vh 1fr 5vh;
}

header {
    border: 1px solid gray;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
}

main > * {
    border: 1px solid gray;
}

footer {
    border: 1px solid gray;
}